#login {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 2em;

    fieldset {
        border: 0;
    }

    legend {
        font-size: 1.2em;
        font-weight: bold;
    }

 
    .validation-summary-errors {
        color: crimson;

        ul {
            list-style: none;
            padding: 0;
        }
    .auto-login{
        width:10px;
        height:10px;
    }
    }
}
